<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//localhost:35729/livereload.js"></script>
    <title>Login</title>
</head>
<body>
  <div ng-controller="userController as user">
    <div class="container-fluid">
      <div class="card card-session">
        <div class="card-body card-session-body">
          <h5 class="card-title card-session-body-title">Inicio de Sesión</h5>
            <div class="row-session-drop">
              <select class="row-session-drop-row" ng-model="user.type" name="type" id="type" required>
                <option value="">Seleccione...</option>
                <option value="V">V</option>
                <option value="E">E</option>
                <option value="P">P</option>
              </select>
            </div>  
          <div class="row-session-input">
           <input type="text" placeholder="Usuario" size="40" maxlength="25" ng-model="user.username" required>
          </div>  
          <div class="row-session-input">
            <input type="password" placeholder="Contraseña" size="40" maxlength="25" ng-model="user.password" required>
          </div>
          <div class="row-session-label">
            <a href="#" id="resetPassword" ng-click="user.resetPassword()">¿Olvidó su contraseña?</a>
          </div>
          <div class="row-session-button">
            <button class="btn btn-primary" ng-click="user.getLogin()"><i class="fas fa-sign-in-alt"></i>Aceptar</button>
          </div>   
        </div>
      </div>    
    </div>  
  </div>
</body>
<footer>
  <div class="text-right mt-auto" style="width: 100%">
    <img src="../assets/images/footer.png">     
  </div>
</footer>   
</html>