<div class="d-flex align-items-center h-100">
	<div class="box">
		<form action="" method="post">
			<div class="row">
				<div class="col-6"><h2 class="p-3">Inicio de Sesión</h2></div>
				<div class="col-6">
					<div class="form-group p-1">
						<select class="form-control" ng-model="selected" required>
							<option value="null">Elije</option>
							<option ng-repeat="type in items" value="{{ type.name }} ">
								{{ type.name }}
							</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="form-group p-1">
						<label for=""></label>
						<input
							type="text"
							name="usuario"
							id=""
							class="form-control"
							placeholder="Usuario"
							ng-model="username"
							required
						/>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group p-1">
						<label for=""></label>
						<input
							type="text"
							name="contraseña"
							id=""
							class="form-control"
							placeholder="Contraseña"
							ng-model="password"
							required
						/>
					</div>
					<a href="" class="link font-italic">¿Olvidó su contraseña?</a>
				</div>
				<div class="col-12 d-flex justify-content-center">
					<button type="submit" class="btn btn-primary primary">
						Aceptar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
